@model vs_web_mvc.Models.ToDoViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Todo" asp-action="Index" method="get">
    <p>
        <select asp-for="Category" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ToDos[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDos[0].ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDos[0].Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDos[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDos[0].EstimatedHour)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedHour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
